<%= form_for(@employee_territory) do |f| %>
  <% if @employee_territory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_territory.errors.count, "error") %> prohibited this employee_territory from being saved:</h2>

      <ul>
      <% @employee_territory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :EmployeeID %><br>
    <%= f.number_field :EmployeeID %>
  </div>
  <div class="field">
    <%= f.label :TerritoryID %><br>
    <%= f.text_area :TerritoryID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
