<p id="notice"><%= notice %></p>

<p>
  <strong>Customerid:</strong>
  <%= @customer_customer_demo.CustomerID %>
</p>

<p>
  <strong>Customertypeid:</strong>
  <%= @customer_customer_demo.CustomerTypeID %>
</p>

<%= link_to 'Edit', edit_customer_customer_demo_path(@customer_customer_demo) %> |
<%= link_to 'Back', customer_customer_demos_path %>
