<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CompanyName %><br>
    <%= f.text_area :CompanyName %>
  </div>
  <div class="field">
    <%= f.label :ContactName %><br>
    <%= f.text_area :ContactName %>
  </div>
  <div class="field">
    <%= f.label :ContactTitle %><br>
    <%= f.text_area :ContactTitle %>
  </div>
  <div class="field">
    <%= f.label :Address %><br>
    <%= f.text_area :Address %>
  </div>
  <div class="field">
    <%= f.label :City %><br>
    <%= f.text_area :City %>
  </div>
  <div class="field">
    <%= f.label :Region %><br>
    <%= f.text_area :Region %>
  </div>
  <div class="field">
    <%= f.label :PostalCode %><br>
    <%= f.text_area :PostalCode %>
  </div>
  <div class="field">
    <%= f.label :Country %><br>
    <%= f.text_area :Country %>
  </div>
  <div class="field">
    <%= f.label :Phone %><br>
    <%= f.text_area :Phone %>
  </div>
  <div class="field">
    <%= f.label :Fax %><br>
    <%= f.text_area :Fax %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
