<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CustomerID %><br>
    <%= f.text_area :CustomerID %>
  </div>
  <div class="field">
    <%= f.label :EmployeeID %><br>
    <%= f.number_field :EmployeeID %>
  </div>
  <div class="field">
    <%= f.label :OrderDate %><br>
    <%= f.datetime_select :OrderDate %>
  </div>
  <div class="field">
    <%= f.label :RequiredDate %><br>
    <%= f.datetime_select :RequiredDate %>
  </div>
  <div class="field">
    <%= f.label :ShippedDate %><br>
    <%= f.datetime_select :ShippedDate %>
  </div>
  <div class="field">
    <%= f.label :ShipVia %><br>
    <%= f.number_field :ShipVia %>
  </div>
  <div class="field">
    <%= f.label :Freight %><br>
    <%= f.text_field :Freight %>
  </div>
  <div class="field">
    <%= f.label :ShipName %><br>
    <%= f.text_area :ShipName %>
  </div>
  <div class="field">
    <%= f.label :ShipAddress %><br>
    <%= f.text_area :ShipAddress %>
  </div>
  <div class="field">
    <%= f.label :ShipCity %><br>
    <%= f.text_area :ShipCity %>
  </div>
  <div class="field">
    <%= f.label :ShipRegion %><br>
    <%= f.text_area :ShipRegion %>
  </div>
  <div class="field">
    <%= f.label :ShipPostalCode %><br>
    <%= f.text_area :ShipPostalCode %>
  </div>
  <div class="field">
    <%= f.label :ShipCountry %><br>
    <%= f.text_area :ShipCountry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
